:root {
    --cor-de-fundo: #aa7c5e;
    }
    body {
        background-color: var(--cor-de-fundo);
        }
        h1 {
            background-color: rgb(119, 74, 54);
           border-radius: 15cm;
           background-position: 5cm;
            }
        a {
            background-color: rgb(119, 74, 54);
            color: #a77b67;
            text-decoration: none;
            padding: 10px;
            border-radius: 20px;
        

        }
        h2 {
            color: rgb(102, 66, 45);
            
        }
        
header { background-color: var(--cor-do-titulo)}
       h1 {
        text-align: center;
        color: #aa7c5e;
       text-decoration: underline;
       }
body{
    text-align: center;
}
 .principal {
    display:flex;
 }
 .coluna1{
  width: 30%;
  
 }

 .coluna2{
    width: 40%;
   
 }

 .coluna3{
    width: 30%;
  
 }
 .ul{
    background: #a77b67;
    padding: 20px;;
    margin: 5px;
    height: 30px;
 }

 .title{
    background-color: darksalmon;
    text-align: start;

 }

 